* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: sans-serif;
  color: #222;
}

h1 {
  color: cadetblue;
}

.container {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.book h1 {
  margin-top: 0.5rem;
}
